<!DOCTYPE html>
<html>
<head>
    <title>Under the Skin of the City</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Hind|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="third-party/chosen/chosen.min.css" />
    <link rel="stylesheet" href="third-party/avgrund/avgrund.css" />
    <link rel="stylesheet" href="third-party/intro.js/introjs.min.css" />
    <link rel="stylesheet" href="third-party/intro.js/introjs-nazanin.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="BosNeighborhoodController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" id="top-header">
            <div class="navbar-header">
                <h1> Under the Skin of the City </h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="pages/about-us.html"><span class="glyphicon glyphicon-info-sign"></span> About us</a></li>
                <li><a href="pages/demo.html"><span class="glyphicon glyphicon-share"></span> Demo Video</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="filter-top">
            <span id="crime-filter">
                <select chosen multiple id="crime-type-filter"
                        ng-model="type_filters.selected_crime_types"
                        ng-options="type for type in crime_types"></select>
            </span>
            <span id="service-filter">
                <select chosen multiple id="service-type-filter"
                        ng-model="type_filters.selected_service_types"
                        ng-options="type for type in service_types"></select>
            </span>
        </div>
        <div class="row">
            <div class="col-md-8" id="map"></div>
            <div class="col-md-4 navigation">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active" tab="#home"><a data-toggle="tab" href="#home">Introduction</a></li>
                    <li class="disabled" tab="#neighborhoods"><a data-toggle="tab" href="#neighborhoods">Neighborhoods</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane active">
                        <div data-spy="scroll" data-target=".tab-content" data-offset="50">
                            <div id="section1" class="container-fluid">
                                <h1>Introduction</h1>
                                <p> Welcome to the online neighborhood guide. This website is an online tool to help students pick the right neghborhood to live.									
								Our online tool helps you to explore and find the right neighborhood in terms of safety and city services.</p>
                            </div>
                            <div id="desc-311" class="container-fluid">
                                <div class="row">
									<div class="col-xs-2"><img src="data/img/311/icon.png" width="40" height="40"></div>
									<div class="col-xs-10" style="padding:10px 10px 10px 1px;"><h1>Boston 311 service request</h1></div>
								</div>	
                                <p> 311 is the number to call to obtain information and access to all non-emergency City services. </br>
									311 is an easy-to-remember telephone number that connects you with highly-trained
                                    Constituent Service Center representatives who are ready to help you with requests for
                                    non-emergency City services and information.</br>
									The 311 Constituent Service Center is open 24 hours a day, 7 days a week, 365 days a year.</br>
									<b>This tool</b> enables you to explore the 311 service request incidents from Agust 15 to the current time in Bosotn. 
                                </p>
								<a href="https://mayors24.cityofboston.gov/">
                                    Click here to see more examples
                                </a>
								</br>
								<a href="http://www.cityofboston.gov/311/">
                                    Read more about 311 service request system here
                                </a>
                            </div>
							</br>
                            <div id="desc-crime" class="container-fluid">
								<div class="row">
									<div class="col-xs-2"><img src="data/img/crime/icon.png" width="40" height="40"></div>
									<div class="col-xs-10" style="padding:10px 10px 10px 1px;"><h1>Boston crime data</h1></div>
								</div>	                               
								<p>Crime incident reports provided by Boston Police Department from August 15, 2016 to date.</br>
								<b>This tool</b> provides features to explore the crime incidents in Boston. You can select any crime type, to realize what is happening in each neighborhood. 
								By clicking on each incident, you will see more details.</br>
								You can also compare the top 5 crime types in each neighborhood to the total avrage rate of those cirme types.</p>
								<a href="https://data.cityofboston.gov/Public-Safety/Crime-Incident-Reports-August-2015-To-Date-Source-/fqn4-4qap">
                                    Click here to see the data source
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="neighborhoods" class="tab-pane">
                        <!--todo: some of the images are using http protocal which will generate warning. replace with https links-->
                        <div class="beveled-media-box img-overlay" style="background-image:url('{{selectedNeighborhood.img}}');">
                            <div class="center panel-padding">
                                <h3>{{selectedNeighborhood.name}}</h3>
                                <p>It's all in Boston</p>
                            </div>
                        </div>
                        <div class="desc">
                            <div class="container-fluid">
                                <h1>Decsription</h1>
                                <p>
                                    {{selectedNeighborhood.desc}}
                                </p>
                            </div>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                Home to
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>{{selectedNeighborhood.hometo}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Crime data
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse in">
                                        <div class="panel-body">
										<p>Top five cripe types in {{selectedNeighborhood.name}} compared to the total average</p>
										<!-- crime chart legend -->
										<ul class="legend">
											<li><span class="selectedNeighb"></span> Crime rate in {{selectedNeighborhood.name}}</li>
											<li><span class="average"></span> Average Crime rate in all regions</li>
										</ul>
                                            <svg></svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Proximity and commute
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body" id="neighb-commute">
                                            1 mile
                                            T Access: Green line (B,C, D & E lines), orange line, many buses.
                                            15-20 minute walk or a 10 minute subway ride.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-bottom"><svg></svg></div>
    </div>
    <aside id="school-selector" class="avgrund-popup">
        <div class="row">
            <div class="col-xs-2"><img src="https://cdn1.iconfinder.com/data/icons/real-estate-set-3/512/3-512.png" width="50" height="50"></div>
            <div class="col-xs-10" style="padding:0px 0px 0px 8px;">
                <h2 style="display:inline;">Locate your school to begin</h2>
                <br />
                <div>
                    <!--todo: autofocus-->
                    <select chosen id="school-select"
                            ng-model="school.selected"
                            ng-options="school for school in school_list"></select>
                </div>
                <a href="#" ng-click="closeModal()">Skip</a>
            </div>
        </div>
    </aside>
    <!--<div id="progress-container">
        <div id="progress-bar"></div>
    </div>-->
    <script src="third-party/jquery-3.1.1.min.js"></script>
    <script data-main="script.js" src="third-party/require.js"></script>
</body>
</html>
