body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: #222;
}

#map {
    height: calc(100vh - 50px/*header*/);
    padding: 0px;
}

.tab-content {
    height: calc(100vh - 50px/*header*/ - 44px/*tab*/);
    overflow-y: scroll;
}

#top-header {
    position: relative;
    padding: 10px 15px 0px 15px;
    color: #ececf9;
	height:50px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #333;    
    background-repeat: repeat-x;
}


.navigation {
    height: calc(100vh - 50px);
    outline: 1px solid #e6e6ff;
    min-height: 500px;
    padding: 0px;
}

.navbar-inverse {
    margin-bottom: 0px;
    border-radius: 0px;
	height: 50px;
}

.no-margin {
    margin: 4px !important;
}

.navbar-header{
    color: #ffffff;
    font-size: 1.200em;
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    font-weight: bold;
}


.navbar-form {
    width: 100%;
}

#neighborhoods svg {
    width: 400px;
    height: 200px;
	margin-left:20px;
}

.filter-top {
    position: absolute;
    top: 55px; /*105*/
    left: 5px; /*10% */
    margin: auto;
    z-index: 1;
	background-color: white;
    opacity: 0.85;
    padding: 3px;
    visibility: hidden;
}

.filter-bottom {
    position: absolute;
    bottom: 10px;
	left: 5px;
    width: 350px;
    height: 200px;
    z-index: 1;
    background-color: white;
    opacity: 0.7;
    padding: 3px;
    /*todo: load sequence*/
    /*visibility: hidden;*/
}

    .filter-bottom svg {
        width: 350px;
        height: 200px;
    }

#crime_type_filter_chosen, #crime-filter select {
    outline: 2px solid #FAA41A;
    margin-right: 4px;
    width: 250px;
}

#service_type_filter_chosen, #service-filter select {
    outline: 2px solid #449FD7;
    margin-left: 4px;
    width: 250px;
}

select[id$='type-filter'] {
    width: 300px;
}

select[id='school-select'] {
    width: 270px;
    margin: 3px;
}

#school-selector {
    padding: 25px 15px 0px 15px;
}

h1,
h2 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h3 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.53em;
    -webkit-margin-after: 0.53em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    line-height: 1.2;
}

p {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 1.32;
}

a {
    color: #7aa76d;
    text-decoration: none;
    -webkit-transition: 0.15s color ease;
    -moz-transition: 0.15s color ease;
    -ms-transition: 0.15s color ease;
    -o-transition: 0.15s color ease;
    transition: 0.15s color ease;
}

    a:hover {
        color: #91cd85;
    }

button {
    border: 0px;
    padding: 8px 10px;
    margin: 5px 0px;
    border-radius: 1px;
    cursor: pointer;
    color: #fff;
    background: #7aa76d;
    font-size: 15px;
    -webkit-transition: 0.15s background ease;
    -moz-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    transition: 0.15s background ease;
}

    button:hover {
        background: #91cd85;
    }

    button:active {
        background: #60895a;
    }

    button + button {
        margin-left: 5px;
    }

.bar {
    fill: #4682b4;
}

.bar-background {
    fill: #ccc;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .selectedNeighb { background-color: #4682b4; }
.legend .average { background-color: #7aa76d; }


#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #D9230F;
    }

.beveled-media-box {
    background-size: cover;
    background-position: center center;
    background-color: #bcbcbc;
    background-blend-mode: multiply;
    height: 200px;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.panel-padding {
    padding: 35px 10px 20px 10px;
    color: #ffffff;
    font-size: 24px;
    z-index: 1;
}

/* tab animations */

@keyframes exit {
    0% {
        transform: translateY(0);
        opacity: 1;
    }    

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes enter {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }    

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.tab-pane.is-exiting {
    /* animation: name duration timing-function delay 
                  iteration-count direction fill-mode 
                  play-state */    
    animation: exit 700ms ease-in-out;
    animation-iteration-count: 1;
}

.tab-pane.is-entering {
    animation: enter 700ms ease-in-out;
    animation-iteration-count: 1;
}

/* progress bar */

/*#progress-container {
	position: relative;
    visibility: hidden;
    width: 100%;
    height: 30px;
    background-color: grey;
}

#progress-bar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}*/